.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FEFEFE;
  color: #DDD;
  font-weight: bold;
<<<<<<< HEAD
  z-index: -1
=======
}


.leaflet-container {
  height: 100%;
>>>>>>> b1d8ae043bb7ba8ae7cd3ac7dbd037a7e00ae97a
}
