.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FEFEFE;
  color: #DDD;
  font-weight: bold;
  z-index: 0;
  background: #000;
}

.leaflet-container {
  height: 100%;
}
