.root,
.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.root {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
}

.route-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
