.projection-switcher {
  &__button {

    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 0;
    background-image: url('~Images/projection-sprite.png');
    background-size: 90px 30px;
    background-repeat: no-repeat;
    background-color: $color__white;

    &:hover {
      background-color: #f4f4f4;
    }

    &:focus {
      outline: 0;
      box-shadow: 0;
    }

    &--arctic {
      background-position: -57px -1px;
    }

    &--geo {
      background-position: -29px -1px;
    }

    &--antarctic {
      background-position: -1px -1px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('~Images/projection-sprite@2x.png');
    }
  }
}